<div id="body-layout">
    <form class="example-form">
        <ol>
            <div class="row">
            <div class="col-6">1. Select Report Type</div>
            <div class="col-6"><app-dropdown class="float-right full-parent-width" ></app-dropdown></div>
            </div>

        <h3 class="part-number-header">
            Part I: Particulars of the Reporting Institution
        </h3>
        
        <li>
            <p>Name Of the Reporting Institution</p>
            <mat-form-field class="">
                <input matInput placeholder="Reporting Institution">
            </mat-form-field>
        </li>
        <li>
            <p>Address and Contact Of Head Office</p>
            <div>
                <mat-form-field >
                    <input matInput placeholder="Physical">
                </mat-form-field>
            </div>
            <div>
            <mat-form-field >
                <input matInput placeholder="Postal">
            </mat-form-field>
            </div>
            <div>
            <mat-form-field >
                <input matInput placeholder="Telephone">
            </mat-form-field>
            </div>
            <div>
            <mat-form-field >
                <input matInput placeholder="Email">
            </mat-form-field>
            </div>
            <div>
            <mat-form-field >
                <input matInput placeholder="Fax">
            </mat-form-field>
            </div>

        </li>
        
        <li>
            <p>Address and Contact Of Head Office</p>
            <div>
            <mat-form-field >
                <input matInput placeholder="Physical">
            </mat-form-field>
            </div>
            <div>
            <mat-form-field >
                <input matInput placeholder="Postal">
            </mat-form-field>
            </div>
            <div>
                <mat-form-field >
                    <input matInput placeholder="Telephone">
                </mat-form-field>
            </div>
            <div>
            <mat-form-field >
                <input matInput placeholder="Email">
            </mat-form-field>
            </div>
            <div>
            <mat-form-field >
                <input matInput placeholder="Fax">
            </mat-form-field>
            </div>

        </li>
        <h3 class="part-number-header">
            Part II: Information about Person or Entity engaging in Suspicious Activity
        </h3>
        <li>
            <p>Address and Contact Of Head Office</p>
            <div>
            <mat-form-field >
                <input matInput placeholder="Physical">
            </mat-form-field>
            </div>
            <div>
            <mat-form-field >
                <input matInput placeholder="Postal">
            </mat-form-field>
            </div>
            <div>
            <mat-form-field >
                <input matInput placeholder="Telephone">
            </mat-form-field>
            </div>
            <div>
            <mat-form-field >
                <input matInput placeholder="Email">
            </mat-form-field>
            </div>
            <div>
            <mat-form-field >
                <input matInput placeholder="Fax">
            </mat-form-field>
            </div>

        </li>
        </ol>
    </form>
</div>