/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


/*   dropdown    */
.full-parent-width{
    width:100%;
}
.item-label{
    padding-top:24px;
}
.sub-item-label{
    padding-left:25%;
    padding-top:24px;
}
.identity-card{
    width:100%;
    margin-bottom:30px;
}
.identity-card > mat-card-content {
    padding-left:10%;
    padding-top:35px;
    padding-right:3%;
    font-size:90%;
}
/*.sub-item-input{
    padding-right:25%;
}*/
#title3-h2{
    padding: 30px;
    color: #00004d;
    font-weight: bold;
}

#body-layout{
    font-size: 120%;
}

.part-number-header{
    color: #cc0000;
    text-align: center;
    margin: 40px 0px 40px 0px;
}

.form-input {
    padding-right: 6%;
}

#identity-verification{
    padding-left: -2%;
}